[Unit]
Description=Telegram Bot Registration Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/tgbotkworkAlexzandr83
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/usr/bin/python3 /root/tgbotkworkAlexzandr83/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

